---
import logo from "../assets/logo.svg?raw";
---

<footer class="site-footer">
  <a class="logo" href="/">
    <div class="image" set:html={logo} />
    <img class="dot" src="/favicon.svg" />
    <span class="text">SHACL Renderer</span>
  </a>
</footer>
