@use './mixins';

.grid {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    gap: 1rem 0;
    grid-template-areas:
        "header header header"
        "a slogan b"
        "a next-steps b"
        "a mission b"
        "a functionality b"
        "a main b"
        "a footer b";

}

@media screen and (min-width: 720px) {
    .grid {
        grid-template-columns: 3rem 1fr 3rem;
    }
}

.next-steps {
    grid-area: next-steps;
}

.functionality {
    grid-area: functionality;
}

.site-mission {
    grid-area: mission;
}

.site-slogan {
    grid-area: slogan;
}

.card-grid {
    grid-area: main;
    grid-column: 2 / 3;
}

@media screen and (min-width: 1280px) {
    .grid {
        gap: 3rem;
        grid-template-columns: 3rem repeat(3, 1fr) 3rem;
        max-width: 1800px;
        margin: 0 auto;
        grid-template-areas:
            "header header header header header"
            "a slogan slogan next-steps b"
            "a mission mission functionality b"
            "a main main main b"
            "a footer footer footer b";
    }

    .card-grid {
        grid-column: 2 / 4;
    }
}

.site-header {
    grid-area: header;
}

.site-footer {
    grid-area: footer;
}

.lines {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10000;
    pointer-events: none;

    .first, .second, .third {
        position: relative;
        @include mixins.verticalLineLeft();
        &:before { left: 0; }

        @include mixins.verticalLineRight();
        &:after { right: 0; }
    }

    .first {
        grid-column: 2 / 2;
        grid-row: 1 / -1;
    }
    .second {
        grid-column: 3 / 3;
        grid-row: 1 / -1;
    }

    .third {
        grid-column: 4 / 4;
        grid-row: 1 / -1;
    }
}

@media screen and (min-width: 720px) {
    .lines {
        @include mixins.verticalLineLeft();
        &:before { left: 3rem; }

        @include mixins.verticalLineRight();
        &:after { right: 3rem; }
    }
    
}

@media screen and (max-width: 1279px) {
  .lines {
    .second, .third {
      display: none;
    }
  }
}

hr {
    grid-column: 1 / -1;
    width: 100%;
    grid-row: var(--row);
    border: none;
    position: relative;
    overflow: visible;
    margin: 0;
    pointer-events: none;
    @include mixins.horizontalLineTop();
    @include mixins.horizontalLineBottom();
}