.st-details-viewer {
  flex: 1;
}

.st-details-viewer__label {
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
  cursor: pointer;
}

.st-details-viewer__body {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-2);
}
