.st-property-path-editor {
  --predicate-path-background-color: var(--gray-1);
  --sequence-path-background-color: var(--purple-2);
  --alternative-path-background-color: var(--yellow-2);
  --inverse-path-background-color: var(--green-2);
  --zero-or-more-path-background-color: var(--pink-2);
  --one-or-more-path-background-color: var(--orange-2);
  --zero-or-one-path-background-color: var(--brown-2);

  --st-spacer: var(--size-1);
  --st-radius: var(--radius-2);

  margin-bottom: var(--size-2);
}

.st-predicate-path {
  border-radius: var(--st-radius);
  background-color: var(--predicate-path-background-color);
  padding: var(--size-2);
}

div[class^="st-"][class*="-prefix"],
div[class^="st-"][class*="-suffix"] {
  padding: var(--size-2);
  display: flex;
  align-items: center;
  background-color: color-mix(in srgb, var(--type-color), white 30%);
}

div[class^="st-"][class*="-prefix"] {
  border-top-left-radius: var(--st-radius);
  border-bottom-left-radius: var(--st-radius);
}
div[class^="st-"][class*="-suffix"] {
  border-top-right-radius: var(--st-radius);
  border-bottom-right-radius: var(--st-radius);
  padding-left: var(--size-1);
}

.st-path-segment {
  border-radius: var(--st-radius);
  /* background-color: var(--type-color); */
  display: flex;
  margin-inline: var(--st-spacer);
}

.st-path-segment + .st-path-segment {
  margin-inline-start: 0;
}

.st-property-path-editor > .st-path-segment {
  margin-inline: 0;
}

.st-predicate-path {
  --type-color: var(--predicate-path-background-color);
}
.st-sequence-path {
  --type-color: var(--sequence-path-background-color);
}
.st-alternative-path {
  --type-color: var(--alternative-path-background-color);
}
.st-inverse-path {
  --type-color: var(--inverse-path-background-color);
}
.st-zero-or-more-path {
  --type-color: var(--zero-or-more-path-background-color);
}
.st-one-or-more-path {
  --type-color: var(--one-or-more-path-background-color);
}
.st-zero-or-one-path {
  --type-color: var(--zero-or-one-path-background-color);
}

.st-path-type-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size-4);
  height: var(--size-4);
  border-radius: 50%;
  background-color: var(--gray-2);
  cursor: help;
  font-weight: bold;
  background-color: color-mix(in srgb, var(--type-color), black 9%);
}

.st-alternative-path-items {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.st-path-type-icon-sequence .st-path-type-icon-content {
  translate: 2% -2%;
  font-size: 0.8rem;
}
.st-path-type-icon-inverse .st-path-type-icon-content {
  translate: 0 15%;
}
.st-path-type-icon-alternative .st-path-type-icon-content {
  translate: 13% -5%;
  font-weight: bolder;
  font-size: 0.8rem;
}
.st-path-type-icon-zeroOrMore .st-path-type-icon-content {
  font-size: 1.4rem;
  translate: 4% 14%;
}
.st-path-type-icon-oneOrMore .st-path-type-icon-content {
  translate: 0 5%;
}
.st-path-type-icon-zeroOrOne .st-path-type-icon-content {
  translate: 10% 5%;
  font-size: 0.9rem;
}
