.st-html-viewer .tiptap {
  outline: none;

  p {
    margin: 0;
  }
  p + p {
    margin-top: var(--size-2);
  }

  ul,
  ol {
    padding-inline-start: var(--size-5);
    margin: 0;
  }
  li + li {
    margin-top: var(--size-1);
  }

  strong {
    font-weight: var(--font-weight-7);
  }
  em {
    font-style: italic;
  }
  code {
    font-family: var(--font-mono);
    font-size: 0.9em;
  }
  blockquote {
    border-inline-start: 3px solid var(--gray-5);
    padding-inline-start: var(--size-3);
    color: var(--gray-7);
    margin: 0;
  }
}
