.st-autocomplete {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;

  .st-edit-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.st-autocomplete__label {
  flex: 1;
  min-width: 0;
  padding-inline-end: var(--size-2);
  border: 1px solid var(--gray-3);
  border-radius: var(--radius-2);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-inline-end: none;
  position: relative;

  @layer components {
    &:hover,
    &:focus {
      z-index: var(--st-z-raised);
      outline: 2px solid var(--st-primary-color);
      box-shadow: none;
    }
  }
}

.st-autocomplete__label {
  .st-autocomplete-option__depiction {
    border-radius: var(--radius-2) 0 0 var(--radius-2);
  }
}

@layer overlay {
  .st-autocomplete__results {
    position: absolute;
    top: calc(100% + var(--size-2));
    left: 0;
    z-index: var(--st-z-overlay);
    width: 100%;
    max-height: 16rem;
    overflow-y: auto;
    background-color: white;
    border: 1px solid var(--st-color-border);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
  }
}

.st-autocomplete__result {
  padding-inline-end: var(--size-2);
  min-height: 2rem;
  cursor: pointer;

  &:hover,
  &[aria-selected="true"],
  &.st-autocomplete__result--active {
    background-color: var(--st-primary-color-lighter);
  }
}

.st-autocomplete__create {
  padding-inline: var(--size-2);
  font: inherit;
  background: none;
  border: none;
  border-top: 1px solid var(--st-color-border);
  cursor: pointer;

  &:hover {
    background-color: var(--st-primary-color-lighter);
  }
}

.st-autocomplete__create-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--size-3);
}

.st-autocomplete__empty {
  display: flex;
  align-items: center;
  padding-inline: var(--size-2);
  gap: var(--size-1);
  min-height: 2rem;
  color: var(--st-color-text-muted);
  font-size: var(--st-font-size-small);

  svg {
    width: 1.2em;
    height: 1.2em;
  }
}
