.st-details-editor {
  display: flex;
  gap: var(--size-2);
  flex: 1;
}

.st-details-editor__options {
  align-self: flex-start;
  height: 1.5rem;
  font-size: 0.9rem;
  border: none;
  color: var(--st-color-text-muted);
}

.st-details-editor__body {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  flex: 1;
}
