.st-blank-node-viewer {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  margin: 0;
}

.st-blank-node-viewer__row {
  display: flex;
  gap: var(--size-2);
}

.st-blank-node-viewer__row dt {
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
}

.st-blank-node-viewer__row dd {
  margin: 0;
}
