.st-value-chip {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  gap: var(--size-1);
  padding-inline: var(--size-2);
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  background-color: var(--gray-2);
}

.st-value-chip__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.st-value-chip__iri {
  display: flex;
  flex: none;
  align-items: center;
  color: var(--st-color-text-muted);

  &:hover,
  &:focus {
    color: var(--st-primary-color);
  }
}

.st-value-chip__remove {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  color: var(--st-color-text-muted);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--st-primary-color);
  }
}

.st-value-chip--colored--2 {
  position: relative;
  z-index: 0;
  background: none;
  border: none;

  &::after {
    content: "";
    position: absolute;
    border-radius: var(--radius-2);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    background: linear-gradient(10deg, var(--color-0), var(--color-1));
  }
}

.st-value-chip--small .st-value-chip__label {
  font-size: calc(var(--size-3) * 0.7);
  text-transform: lowercase;
  letter-spacing: 0.05em;
  font-style: italic;
  color: var(--gray-8);
}
.st-value-chip--medium .st-value-chip__label {
  font-size: var(--size-3);
}
.st-value-chip--large .st-value-chip__label {
  font-size: calc(var(--size-3) * 1.3);
}
