.st-property-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  margin: 0;
  padding: 0;
  border: none;
}

.st-property-group + .st-property-group {
  margin-top: var(--size-8);
}

.st-property-group__body {
  border-left: 1px solid var(--st-primary-color-lighter);
  padding-left: var(--size-5);
}

@layer actions {
  .st-property-group__legend {
    padding: 0;
    position: sticky;
    top: 0;
    padding-top: var(--size-3);
    padding-bottom: var(--size-3);
    margin-bottom: var(--size-7);
    background-color: white;
    z-index: var(--st-z-actions);
    width: 100%;
    border-bottom: 1px solid var(--st-color-text-muted);
    font-family: var(--st-font-family);
  }
}

.st-property-group__title {
  font-size: var(--st-font-size-big);
  font-weight: 600;
  color: var(--st-primary-color);
}

.st-property-group__description {
  margin-bottom: var(--size-8);
  margin-top: 0;
  color: var(--st-primary-color);
  font-family: var(--st-font-family);
}

.st-property-group__body {
  display: flex;
  flex-direction: column;
}

.st-property-group__description {
  font-size: var(--st-font-size-small);
}
