.st-autocomplete-option {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  min-height: 2rem;
  gap: var(--size-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.st-autocomplete-option__actions {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  margin-inline-start: auto;
  margin-inline-end: var(--size-1);
}

.st-autocomplete-option__iri,
.st-autocomplete-option__edit {
  color: var(--st-color-text-muted);
  display: flex;
  align-items: center;
  font-size: var(--st-font-size-small);

  &:focus,
  &:hover {
    color: var(--st-primary-color);
  }
}

.st-autocomplete-option__iri {
  margin-block: -1px;
}

.st-autocomplete-option__edit {
  cursor: pointer;
}

.st-autocomplete-option__sub-label {
  color: var(--st-color-text-muted);
  font-size: var(--st-font-size-small);
}

.st-autocomplete-option__match {
  font-weight: bold;
  background-color: transparent;
}

.st-autocomplete-option__depiction {
  height: 2rem;
  width: auto;
  object-fit: cover;
  vertical-align: -0.25em;
  aspect-ratio: 1 / 1;
}

.st-autocomplete-option__depiction-spacer {
  padding-inline-start: var(--size-2);
  height: 2rem;
}

.st-autocomplete-option__resource-form {
  display: flex;
  flex-direction: column;

  .st-form-element + .st-form-element {
    margin-top: var(--size-5);
  }
}

.st-autocomplete-option__resource-form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--size-5);
}

.st-autocomplete-option__discard-modal p {
  margin: 0;
}

.st-autocomplete-option__discard-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-2);
  margin-top: var(--size-4);
}
