.st-property-items {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  width: 100%;
}

.st-property-object {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  flex: 1;
  align-items: stretch;
  justify-content: space-between;
}

.st-property-object > *:has(+ .st-property-object__unit) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.st-property-add-button {
  margin-inline-start: auto;
}

.st-property-object__unit {
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
  background-color: var(--gray-2);
  padding: var(--size-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  margin-inline-start: calc(-1 * var(--size-2));
  border: 1px solid var(--gray-5);
  border-inline-start: none;
}

.st-property-object > *:hover + .st-property-object__unit,
.st-property-object > *:focus + .st-property-object__unit {
  outline: 2px solid var(--st-primary-color);
  box-shadow: none;
}
