.st-property-items {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  width: 100%;
}

.st-property-object {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  flex: 1;
  align-items: start;
  justify-content: space-between;
}

.st-property-object > *:has(+ .st-property-object__unit) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.st-property-add-button {
  margin-inline-start: auto;
}

.st-property-object__unit {
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
  background-color: var(--gray-2);
  padding: var(--size-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  margin-inline-start: calc(-1 * var(--size-2));
  border: 1px solid var(--gray-5);
  border-inline-start: none;
}

.st-property-object > *:hover + .st-property-object__unit,
.st-property-object > *:focus + .st-property-object__unit {
  outline: 2px solid var(--st-primary-color);
  box-shadow: none;
}

.st-property-object__widget {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  gap: var(--size-2);
}

.st-choice-element {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.st-property-object__fly-out {
  position: absolute;
  top: calc(100% + var(--size-3));
  left: 0;
  padding: var(--size-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  z-index: var(--st-z-index-flyout);
  border: 1px solid var(--st-color-border);
  background-color: var(--st-primary-color-lighter);
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  gap: var(--size-4);

  &:empty {
    display: none;
  }

  &::before {
    --size: calc(var(--size-2) + 1px);
    content: "";
    position: absolute;
    top: calc(-1 * var(--size) - 1px);
    left: calc(var(--size-2) - 1px);
    width: 0;
    height: 0;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--st-color-border);
  }

  &::after {
    --size: var(--size-2);
    content: "";
    position: absolute;
    top: calc(-1 * var(--size));
    left: var(--size-2);
    width: 0;
    height: 0;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--st-primary-color-lighter);
  }
}
