.st-form-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--st-font-family);
  gap: var(--size-2);
}

.st-form-element__label {
  font-weight: bold;
  height: var(--size-6);
  line-height: var(--size-6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: var(--st-color-text);
}

.st-form-element[data-size="small"] .st-form-element__label {
  font-size: var(--st-font-size-small);
  color: var(--gray-7);
}

.st-form-element__description {
  margin: 0;
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
}

.st-form-element__header {
  display: flex;
  gap: var(--size-2);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.st-form-element__actions {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
