.st-button {
  appearance: none;
  background: none;
  padding: var(--size-2);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: var(--gray-8);
  border: 1px solid var(--gray-3);
  border-radius: var(--radius-2);

  &:hover,
  &:focus {
    outline: 2px solid var(--st-primary-color);
    box-shadow: none;
    z-index: var(--st-z-raised-accent);
    color: var(--st-primary-color);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--gray-2);

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.st-button--primary {
  border: 2px solid var(--st-primary-color);
  color: var(--st-primary-color);
  font-weight: bold;

  &:hover,
  &:focus {
    color: white;
    outline: 2px solid var(--st-primary-color);
    background-color: var(--st-primary-color);
  }
}

.st-button--text {
  background: none;
  border-color: transparent;
  border: none;
}

.st-button--danger {
  color: white;
  background-color: var(--st-severity-error);
  border-color: var(--st-severity-error);

  &:hover,
  &:focus {
    color: white;
    outline: 2px solid var(--st-severity-error);
    background-color: hsl(from var(--st-severity-error) h s calc(l - 8));
  }
}

.st-button--severity {
  border: 1px solid var(--color);
  color: var(--color);

  &:hover,
  &:focus {
    color: white;
    outline: 2px solid var(--color);
    background-color: var(--color);
  }
}

.st-button-small {
  padding: var(--size-1);
  font-size: 0.7rem;
}

.st-icon-button {
  border-radius: var(--radius-2);
  appearance: none;
  background: none;
  aspect-ratio: 1;
  display: flex;
  height: 2rem;
  border: 1px solid var(--gray-3);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--gray-8);
  font-size: 1.1rem;

  &:hover,
  &:focus {
    color: var(--st-primary-color);
    outline: 2px solid var(--st-primary-color);
  }
}

.st-icon-button--help {
  color: var(--gray-6);
  border: none !important;
  outline: none !important;
  padding: 0.5rem;
  margin-block: -0.5rem;
  margin-inline: -0.7rem;
  cursor: help;

  &:hover,
  &:focus {
    color: var(--st-primary-color);
    outline: 2px solid var(--st-primary-color);
  }
}
