.button {
    appearance: none;
    background: none;
    padding: var(--size-2);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: var(--gray-8);
    border: 1px solid var(--gray-3);
    border-radius: var(--radius-2);

    &:hover,
    &:focus {
        outline: 2px solid var(--st-primary-color);
        box-shadow: none;
    }
}