@import "open-props/open-props.min.css";
@import "./button.css";
@import "./input.css";
@import "./select.css";

:root {
  /* Open props overrides */
  --font-size-0: 0.9rem;

  /* ShapeThing */
  --st-font-family: var(--font-rounded-sans);
  --st-primary-color: var(--indigo-6);
  --st-color-text-muted: var(--gray-7);
  --st-font-size-small: var(--font-size-0);
  --st-severity-warning: var(--yellow-6);
  --st-severity-error: var(--red-6);
  --st-severity-info: var(--blue-6);

  /* ShapeThing derived */
  --st-primary-color-lighter: hsl(from var(--st-primary-color) h s calc(l + 30));

  /* Contextual variables */
  --color: var(--st-primary-color);
}

.severity-warning {
  --color: var(--st-severity-warning);
}

.severity-error {
  --color: var(--st-severity-error);
}

.severity-info {
  --color: var(--st-severity-info);
}
