.st-input {
  padding: var(--size-2);
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-5);
  flex: 1;
  position: relative;
  z-index: var(--st-z-raised);
  appearance: none;
  resize: vertical;
  font-family: var(--st-font-family);

  &:hover,
  &:focus {
    outline: 2px solid var(--st-primary-color);
    box-shadow: none;
  }
}

.st-label {
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
  margin-bottom: var(--size-2);
  display: block;
  font-weight: 600;
}

.st-input-prefix {
  padding-inline: var(--size-2);
  align-self: stretch;
  display: flex;
  align-items: center;
  border-top-left-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
  border: 1px solid var(--gray-5);
  border-right: none;
  position: relative;
  background-color: var(--gray-1);
  margin-right: calc(var(--size-2) * -1);
}

.st-input-prefix + .st-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.st-input-suffix {
  padding-inline: var(--size-2);
  align-self: stretch;
  display: flex;
  align-items: center;
  border-top-right-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  border: 1px solid var(--gray-5);
  border-left: none;
  position: relative;
  background-color: var(--gray-1);
  margin-left: calc(var(--size-2) * -1);
}

.st-property-object__widget:has(.st-input-suffix) .st-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
