.st-input {
  padding: var(--size-2);
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-5);
  flex: 1;
  position: relative;
  z-index: 2;
  appearance: none;
  resize: vertical;

  &:hover,
  &:focus {
    outline: 2px solid var(--st-primary-color);
    box-shadow: none;
  }
}

.st-label {
  font-size: var(--st-font-size-small);
  color: var(--st-color-text-muted);
  margin-bottom: var(--size-2);
  display: block;
  font-weight: 600;
}
