.st-listbox__wrapper {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
}

.st-listbox__trigger {
  text-align: left;
  font: inherit;
  color: inherit;
  padding-block: 0.35rem !important;
  font-size: var(--font-size-1);
  min-height: 34px;
}

.st-listbox__listbox {
  position: absolute;
  top: calc(100% + var(--size-2));
  left: 0;
  z-index: var(--st-z-overlay);
  min-width: 100%;
  max-height: 16rem;
  overflow-y: auto;
  background-color: white;
  border: 1px solid var(--st-color-border);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
}

.st-listbox__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2);
  padding-inline: var(--size-2);
  min-height: 2.2rem;
  cursor: pointer;
  white-space: nowrap;

  &:hover,
  &[aria-selected="true"],
  &.st-listbox__option--active {
    background-color: var(--st-primary-color-lighter);
  }
}

.st-create-option {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  width: 100%;
  min-height: 2.5rem;
  font-weight: bold;
  color: var(--st-primary-color);

  svg {
    width: 1em;
    height: 1em;
  }
}
