:root {
  --st-primary-color: var(--green-9);
  --st-secondary-color: #ebf7ef;
}

.st-view-mode,
.st-edit-mode {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  gap: 0 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "ui"
    "main"
    "meta"
    "actions";
}

@media (min-width: 1000px) {
  .st-view-mode,
  .st-edit-mode {
    grid-template-columns: 1fr 340px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "main ui"
      "main meta"
      "actions meta";
  }
}

.st-header {
  grid-area: ui;
  margin-top: 3.5rem;
  flex-direction: column;
  background-color: var(--st-secondary-color);
  border-radius: var(--radius-2);
  padding: 1rem;

  & > * {
    flex: 0 0 auto !important;
  }
}

.st-property-group__legend {
  display: none;
}

[data-iri="http://example.org/mainGroup"] {
  grid-area: main;
}

[data-iri="http://example.org/metaGroup"] {
  margin-bottom: auto;
  grid-area: meta;
  background-color: var(--st-secondary-color);
  border-radius: var(--radius-2);

  .react-duration-control-fieldset,
  .st-button {
    background-color: white;
  }
}

.st-edit-mode--actions {
  grid-area: actions;

  .st-button {
    font-size: 1.2rem;
  }
}

[data-iri="http://example.org/mainGroup"],
[data-iri="http://example.org/metaGroup"] {
  & > .st-property-group__body {
    padding-left: 0;
    padding: 1rem;
    border-left: none;
  }
}

[data-id="h28plmfce1tl"] {
  font-size: 1.4rem;

  > .st-form-element__header {
    margin-bottom: 1rem;
  }
}

.st-iri-editor__preview-image {
  max-height: 200px;
}
